name: Build carbonizer

on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*"
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build-macos:
    name: Build macOS
    runs-on: macos-15
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Check Version
      run: grep -q "${{ github.ref_name }}" Sources/Carbonizer/Carbonizer.swift
    - name: Set up Swift
      uses: SwiftyLab/setup-swift@latest
      with:
        swift-version: "6.2"
    - name: Build
      run: >
        swift build -c release
        -Xswiftc -DIN_CI
    - name: Codesign
      run: |
        mkdir $HOME/secrets
        
        echo -n $CERTIFICATE_BASE64 | base64 --decode -o "$HOME/secrets/certificate.p12"
        
        security create-keychain "$RUNNER_TEMP/signing.keychain-db"
        security import "$HOME/secrets/certificate.p12" -P "$CERTIFICATE_PASSWORD" -t cert -f pkcs12 -k "$RUNNER_TEMP/signing.keychain-db"
        
        security find-identity "$RUNNER_TEMP/signing.keychain-db"
        
        codesign --sign "$IDENTITY_HASH" --keychain "$RUNNER_TEMP/signing.keychain-db" --identifier "dev.simonomi.carbonizer" --timestamp --options runtime --verbose "$(swift build -c release --show-bin-path)/carbonizer"
      env:
        CERTIFICATE_BASE64: ${{ secrets.CERTIFICATE_BASE64 }}
        CERTIFICATE_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
        IDENTITY_HASH: ${{ secrets.IDENTITY_HASH }}
    - name: Package
      run: tar -acf carbonizer-macOS.zip -C "$(swift build -c release --show-bin-path)" carbonizer
    - name: Notarize
      run: |
        xcrun notarytool store-credentials "notarytool-password" --apple-id "$APPLE_ID" --team-id "$TEAM_ID" --password "$APP_SPECIFIC_PASSWORD"
        xcrun notarytool submit carbonizer-macOS.zip --keychain-profile "notarytool-password" --wait -f json > notaryStatus.json
        xcrun notarytool log $(jq ".id" notaryStatus.json) --keychain-profile "notarytool-password" notaryLog.json
        test $(jq ".status" notaryLog.json) = "\"Accepted\""
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }}
        TEAM_ID: ${{ secrets.TEAM_ID }}
        APP_SPECIFIC_PASSWORD: ${{ secrets.APP_SPECIFIC_PASSWORD }}
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        name: "Version ${{ github.ref_name }}"
        body: "\n\n\n## how to use\n\ndrag and drop an `.nds` file onto `carbonizer.exe` to unpack it, then drop the resulting folder back onto `carbonizer.exe` to repack it."
        files: carbonizer-macOS.zip

  build-windows:
    name: Build Windows
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Check Version
      run: grep -q "${{ github.ref_name }}" Sources/Carbonizer/Carbonizer.swift
    - name: Set up Swift
      uses: compnerd/gha-setup-swift@main
      with:
        swift-version: swift-6.2-release
        swift-build: 6.2-RELEASE
    - name: Build
      run: >
        swift build -c release
        -Xswiftc -DIN_CI
    - name: Download license
      run: curl -o LICENSE.txt "https://raw.githubusercontent.com/apple/swift/main/LICENSE.txt"
    - name: Package
      run: >
        tar -acf carbonizer-Windows.zip
        LICENSE.txt
        -C "$(swift build -c release --show-bin-path)"
        carbonizer.exe
        -C "$env:LOCALAPPDATA\\Programs\\Swift\\Runtimes\\6.2.0\\usr\\bin"
        swiftCore.dll swift_Concurrency.dll swiftWinSDK.dll swift_StringProcessing.dll swiftCRT.dll Foundation.dll swift_RegexParser.dll dispatch.dll BlocksRuntime.dll swiftDispatch.dll FoundationEssentials.dll FoundationInternationalization.dll _FoundationICU.dll swiftSynchronization.dll
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        name: "Version ${{ github.ref_name }}"
        body: "\n\n\n## how to use\n\ndrag and drop an `.nds` file onto `carbonizer.exe` to unpack it, then drop the resulting folder back onto `carbonizer.exe` to repack it."
        files: carbonizer-Windows.zip

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Check Version
      run: grep -q "${{ github.ref_name }}" Sources/Carbonizer/Carbonizer.swift
    - name: Set up Swift
      id: swift-setup
      uses: SwiftyLab/setup-swift@latest
      with:
        swift-version: "6.2"
    - name: Build
      run: >
        swift build -c release
        --static-swift-stdlib
        -Xswiftc -DIN_CI
    - name: Package
      run: tar -azcf carbonizer-linux-x86.zip -C "$(swift build -c release --show-bin-path)" carbonizer
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        name: "Version ${{ github.ref_name }}"
        body: "\n\n\n## how to use\n\ndrag and drop an `.nds` file onto `carbonizer.exe` to unpack it, then drop the resulting folder back onto `carbonizer.exe` to repack it."
        files: carbonizer-linux-x86.zip

  build-linux-arm:
    name: Build Linux ARM
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Check Version
      run: grep -q "${{ github.ref_name }}" Sources/Carbonizer/Carbonizer.swift
    - name: Set up Swift
      id: swift-setup
      uses: SwiftyLab/setup-swift@latest
      with:
        swift-version: "6.2"
    - name: Build
      run: >
        swift build -c release
        --static-swift-stdlib
        -Xswiftc -DIN_CI
    - name: Package
      run: tar -azcf carbonizer-linux-arm.zip -C "$(swift build -c release --show-bin-path)" carbonizer
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        name: "Version ${{ github.ref_name }}"
        body: "\n\n\n## how to use\n\ndrag and drop an `.nds` file onto `carbonizer.exe` to unpack it, then drop the resulting folder back onto `carbonizer.exe` to repack it."
        files: carbonizer-linux-arm.zip

